<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="/static/css/vocal.css">
</head>

<body>
    <div class="title-bar flex">
        <h1><a class="a-plain" href="/">VOCAL</a></h1>
        <div class="flex">
            <span class="mr-1"><a class="a-plain" href="/">Checker </a></span>
            <span class="mr-1"><a class="a-plain" href="/projects">Projects </a></span>
            <span class="mr-1"><a class="a-plain" href="/about">About </a></span>
    
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>

</html>